html {
  height: 100%;
  width: 100%;
}
body {
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  background-image: url('images/abi.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 10px;
  margin: 0 auto;
}
div {
  background-color: white;
  color: red;
  padding: 10px;
  text-align: center;
  margin: 10px;
}
ul {
  list-style-type: disc;
  padding: 0;
  text-align: center;
}
nav {
  display: inline-block;
  color: white;
  padding: 20px;
  margin: 0 auto;
}
footer {
  background-color: red;
  color: white;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
.stack img {
  width: 253px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.stack img:hover {
  transform: scale(1.50);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
}
input {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 20px;
  border: 1px solid red;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
nav a:hover {
  color: red;
  transform: scale(1.10);
}
.search {
  float: right;
  background-color: red;
  color: white;
  transition: color 0.3s ease;
  opacity: 0.5;
}
.search:hover {
  color: red;
  background-color: white;
}
#countdown{
  color: red;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}
.scroll-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.scroll-text span {
  display: inline-block;
  padding-left: 100%;   /* start outside screen */
  animation: scroll 60s linear infinite;
}

@keyframes scroll {
  from { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}